
//FONTS
$main_font: "Baloo Chettan 2", sans-serif;

//COLORS
$verde:#4CB8B3;
$rosa: #F53756;
$amarillo: #fdda00;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;

//MEDIA QUERY
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXl: 1400px;
